name: CI/CD
  

on:
  push:
    branches: [ main ]

jobs:
  build-and-push:
    runs-on: self-hosted
    outputs:
      sha: ${{ steps.set-sha.outputs.sha }}
    steps:
      - uses: actions/checkout@v3

        - name: Fix podman state
          run: |
            podman system migrate || true
            podman system reset --force || true


      - name: Set image SHA
        id: set-sha
        run: echo "::set-output name=sha::${GITHUB_SHA}"

      - name: Log in to GHCR
        run: |
          echo "${{ secrets.GHCR_TOKEN }}" | podman login ghcr.io -u "${{ github.actor }}" --password-stdin

      - name: Build and push test image
        run: |
          IMAGE_TEST=ghcr.io/kirehwye/web-adm:test-${{ github.sha }}
          podman build --target test -t $IMAGE_TEST .
          podman push $IMAGE_TEST

      - name: Build and push runtime image
        run: |
          IMAGE_RUNTIME=ghcr.io/kirehwye/web-adm:runtime-${{ github.sha }}
          podman build --target runtime -t $IMAGE_RUNTIME .
          podman push $IMAGE_RUNTIME

  test:
    runs-on: self-hosted
    needs: build-and-push
    steps:
      - name: Run tests locally
        run: |
          set -e
          IMAGE_TEST=ghcr.io/kirehwye/web-adm:test-${{ github.sha }}
          podman login ghcr.io -u "${{ github.actor }}" -p "${{ secrets.GHCR_TOKEN }}"
          podman run --rm --name web-adm-test --network host $IMAGE_TEST python -m pytest -v tests
          podman rmi $IMAGE_TEST || true

  deploy:
    runs-on: self-hosted
    needs: test
    steps:
      - name: Deploy runtime image locally
        run: |
          set -e

          IMAGE_RUNTIME=ghcr.io/kirehwye/web-adm:runtime-${{ github.sha }}

          podman login ghcr.io -u "${{ github.actor }}" -p "${{ secrets.GHCR_TOKEN }}"

          podman stop web-adm || true
          podman rm -f web-adm || true

          podman run --replace -d --name web-adm --network host -p 8064:8064 $IMAGE_RUNTIME

          podman images --format "{{.Repository}}:{{.Tag}}" \
            | grep 'web-adm:runtime-' \
            | grep -v "${{ github.sha }}" \
            | xargs -r podman rmi -f || true

